section form {
	width: 45%;
}
.project-submit {
	background-color: #f06e79;
	color: #dddbdb;
}
form div {
	width: 100%;
}

.form-control {
	width: 100%;
}
.form-container {
	background-color: #dddbdb;
	height: 110vh;
}
