<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="static/style/project.css" />
		<link rel="stylesheet" href="static/style/index.css" />
		<!-- favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="static/assets/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="static/assets/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="static/assets/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<title>Personal Card</title>
	</head>
	<body>
		{{template "navigation" .}}
		<!-- content -->
		<section
			class="form-container d-flex flex-column align-items-center justify-content-center"
		>
			<h1>Login</h1>
			<p id="error-message"></p>
			<form action="/auth/login" method="POST">
				<div class="form-floating mb-3">
					<input
						type="email"
						name="email"
						class="form-control shadow"
						id="floatingInput"
						placeholder="name@example.com"
					/>
					<label for="floatingInput">Email</label>
				</div>
				<div class="form-floating mb-3">
					<input
						type="password"
						name="password"
						class="form-control shadow"
						id="floatingInput"
						placeholder="name@example.com"
					/>
					<label for="floatingInput">Password</label>
				</div>

				<button class="btn float-end button-fill">Login</button>
			</form>
		</section>
	</body>
	<!-- bootstrap js -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"
	></script>
</html>
